# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# --- Flutter / Dart ekleri ---
coverage/
.melos_tool/
.packages

# Platform geçici/çıktı klasörleri
android/.gradle/
android/local.properties
ios/Pods/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
web/.dart_tool/
# Xcode user-specific
ios/Runner.xcworkspace/
ios/Runner/*.xcworkspace/
**/*.xcuserstate
**/*.xcuserdata/

# IDE klasörleri (VS Code'u da ignore etmek istersen)
.vscode/

# Anahtarlar (asla repoya koyma)
**/*.keystore
**/*.jks
android/key.properties
**/*.pem

# Firebase (public repo ise gizle; private ise bu satırları yorumlayabilirsin)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Çeşitli
# (Flutter metadata genelde commit edilebilir ama istersen ignore edebilirsin)
#.metadata
